@charset "UTF-8";

body {
	background-color: rgb(0, 70, 0);
	overflow-x: hidden;
	width: 100%;
	margin: 0;
	padding-top: 60px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}



.welcome-session h1{
	font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
}

.welcome-session p{
	font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
}

.login-heading {
    font-family: "Arial Black", cursive, sans-serif;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem !important;
}

.ranking-session h2 {
 position: relative;
  margin: 30px;
  text-align: center;
}

.ranking-session h2:before,
.ranking-session h2:after {
  position: absolute;
  z-index: 0;
  bottom: -10px;
  display: block;
  content: '';
  border: 1em solid #B67B03;
}

.ranking-session h2:before {
  left: -30px;
  border-left-width: 15px;
  border-left-color: transparent;
}

.ranking-session h2:after {
  right: -30px;
  border-right-width: 15px;
  border-right-color: transparent;
}

.ranking-session h2 span {
  position: relative;
  z-index: 1;
  display: block;
  padding: 1rem 2rem;
  color: rgb(0, 0, 0);
  background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
}

.ranking-session h2 span:before,
.ranking-session h2 span:after {
  position: absolute;
  bottom: -10px;
  display: block;
  width: 10px;
  height: 10px;
  content: '';
  border-style: solid;
  border-color: rgb(96, 85, 11) transparent transparent transparent;
}

.ranking-session h2 span:before {
  left: 0;
  border-width: 10px 0 0 10px;
}

.ranking-session h2 span:after {
  right: 0;
  border-width: 10px 10px 0 0;
}

.btn-login{
    background: rgb(255, 102, 36);
	border-color: rgb(255, 102, 36);
    border-radius: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 220px;
    padding: 10px 25px;
    color: #000;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    box-shadow: 5px 5px 0 rgb(155, 47, 0);
}
.btn-login:hover {
  background-color: rgb(255, 102, 36);
  box-shadow: 0 0 0;
  transform: translate(5px, 5px);
}

.btn-register{
	background: rgb(255, 192, 74);
	border-color: rgb(255, 192, 74);
    border-radius: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 220px;
    padding: 10px 25px;
    color: #000;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    box-shadow: 5px 5px 0 rgb(179, 116, 0);
}

.btn-register:hover {
  background-color: rgb(255, 192, 74);
  box-shadow: 0 0 0;
  transform: translate(5px, 5px);
}

.btn-start {
    background: rgb(255, 152, 49);
    border-radius: 0;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 280px;
    padding: 10px 45px;
    color: #000;
	font-family: "Arial Black", cursive, sans-serif;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}
.btn-start:after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 2rem;
  font-size: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s;
  width: 6px;
  height: 6px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  transform: translateY(-50%) rotate(45deg);
}
.btn-start:hover {
  background: rgb(255, 132, 9);
  color: #FFF;
}
.btn-start:hover:after {
  right: 1.4rem;
}

.btn-gray {
    background-color: rgb(192, 192, 192);
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 5px 25px;
    color: #000;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    z-index:0;
    border-left: solid 5px rgb(165, 165, 165);
	border-radius: 0;
}

.btn-gray:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    display: block;
    background: rgb(165, 165, 165);
    transition: .3s;
    left:0;
}

.btn-gray:hover {
    color: #FFF;
	border-color: rgb(165, 165, 165);
}

.btn-gray:hover:before {
    width: 100%;
    z-index: -1;
}

.btn-del {
    background-color: rgb(192, 192, 192);
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 5px 25px;
    color: rgb(255, 81, 81);
    transition: 0.3s ease-in-out;
    font-weight: 500;
    z-index:0;
    border-left: solid 5px rgb(255, 81, 81);
	border-radius: 0;
}

.btn-del:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    display: block;
    background: rgb(255, 81, 81);
    transition: .3s;
    left:0;
}

.btn-del:hover {
    color: rgb(255, 255, 255);
	border-color: rgb(255, 98, 98);
}

.btn-del:hover:before {
    width: 100%;
    z-index: -1;
}

.btn-hit {
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: rgb(255, 220, 21);
    border-radius: 0;
}

.btn-hit:hover {
    transform: translateY(-8px);
}

.btn-stand {
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: rgb(0, 64, 128);
    border-radius: 0;
}

.btn-stand:hover {
    transform: translateY(-8px);
}

.user-name strong{
	color: #ff8c00;
	margin-left: 50px;
}

.welcome-text{
	font-size: 1.5em;
	color: #FFFFFF;
	margin-left: 50px;
}

.user strong{
	color: #fd7e00;
}

.lead {
	margin-left: 50px;
}

.loginlink{
	margin-left: 400px;
}

.table-head{
	background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
}

.result-message{
	color: rgb(59, 59, 59);
	background-color: rgb(255, 128, 128)
}

